.content > h4 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 154.5%;

  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #5c8692;
}
.content > h1 {
  width: 501px;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 115%;
  /* or 80px */

  letter-spacing: -0.01em;

  color: #141414;
}
.back {
  background-image: url(../images/Photo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
}
.content > p {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 170%;
  /* or 32px */

  color: #555555;
  width: 508px;
}
.content > button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 23px 36px 24px;
  gap: 10px;

  width: 250px;
  height: 65px;

  background: #5c8692;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 125%;
  letter-spacing: 0.12em;
  text-transform: uppercase;

  color: #ffffff;
}
