.readMore {
  padding: 18px 43px 19px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 125%;
  /* identical to box height, or 18px */

  border: 2px solid #5c8692;
  letter-spacing: 0.12em;
  text-transform: uppercase;

  color: #141414;
}
.featuresImage {
  margin-bottom: 19px;
}
p {
  margin-top: 11px;
  margin-bottom: 30px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 165%;
  /* or 30px */

  letter-spacing: 0.02em;

  color: #555555;
}

.features h1 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 120%;
  /* or 31px */

  display: flex;
  align-items: center;

  color: #141414;
}
