@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;800&family=Playfair+Display:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}
.App {
  min-height: 100vh;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h1 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 130%;
  /* or 58px */

  text-align: center;
  letter-spacing: -0.01em;
}
h4 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 154.5%;

  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #5c8692;
}
p {
  margin-top: 11px;
  margin-bottom: 30px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 165%;
  /* or 30px */

  letter-spacing: 0.02em;

  color: #555555;
}
